<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Random Courage Wolf</title>
</head>
<body style="background-color: black;">
    <center>
        <span style="font-size: 48pt; color: white;">Random Courage Wolf</a>
        <br>
        <a href="/">
            <img src="{{ image_src }}" width="442" height="442" alt="Random Courage Wolf">
        </a>
        <br><br>
        <span style="font-size: 7pt;">Random Courage Wolf &copy; 2011 <a href="https://ian-preston.com/" style="color: orange;" target="_blank">Ian Preston</a> | Images &copy; <a href="http://quickmeme.com/" style="color: orange;"  target="_blank" rel="nofollow">Quickmeme</a>
    </center>
</body>
</html>
